@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.container1 {
  padding: 50px;
  margin: 0;
}

.container1 .title {
  color: #7684ff;
  font-size: 3rem;
  font-family: "Gotham Black", sans-serif;
}

.card {
  border: none;
  text-align: center;
}

.card-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.card-img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card-title-name {
  font-size: 1.5rem;
  font-family: "Gotham Black", sans-serif;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.card-text-rate {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.card-body-text {
  font-size: 1.5rem;
  color: rgb(46, 46, 46);
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background-color: #4a90e2;
  border-color: #4a90e2;
}

.btn-primary:hover {
  background-color: #357abd;
  border-color: #357abd;
}

.small.text-muted {
  margin-top: 10px;
}

.book a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: #7684ff;
  border-bottom: 2px solid #7684ff;
  padding-bottom: 5px;
}

.container1 p {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
