.register-container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

h1 {
  font-family: "Gotham Black", sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.2em;
  color: #373b3f;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
}

.btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-group .btn {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: #ebebeb;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-option.selected {
  background-color: #5969fd;
  color: white;
  border-color: #7684ff;
}

.btn-option:hover {
  background-color: #5762c7;
  color: white;
}

.chosen-groups p {
  margin: 0;
  padding: 5px;
  font-size: 1.1em;
}

.form-control {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1em;
  background-color: #ebebeb;
  text-align: center;
}

.btn-pop .btn {
  min-width: 100px;
  margin: 3px;
}

.error-message {
  color: rgb(121, 0, 0);
  font-size: 0.9em;
  margin-top: 5px;
  font-family: "Urbanist", sans-serif;
  font-style: italic;
}
