.dance-styles-container {
  background-color: #6771e7;
  padding: 50px 50px;
}

.dance-styles-container h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Gotham Black", sans-serif;
}

.dance-styles-subtitle {
  color: rgb(255, 255, 255);
}

.dance-card {
  border: none;
  cursor: pointer;
  position: relative;
}

.dance-card-img {
  height: 200px;
  object-fit: cover;
}

.dance-card-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.dance-card-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.25rem;
}

.dance-card-text {
  margin: 0;
}
