@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.level-container {
  max-width: 900px;
  padding: 80px;
  margin: auto;
}

.levels {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: "Inter", sans-serif;
}

.level {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.level.selected {
  background-color: #7684ff;
  color: white;
}

.level h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.level p {
  margin: 5px 0 0;
}
